.App {
  text-align: center;
}

.company-logos {
  display: table;
  margin: 0px auto;
}

.company-logo {
  float: left;
  width: 200px;
  height: 100px;
  position: relative;
  margin-bottom: 30px;
  margin-top: 10px;
}

.company-logo > img {
  width: 200px;
  height: 100px;
  position: absolute;
}